body{
margin:0px;
text-align: center
}
#TBL{
width:180px;
margin-bottom: 50px;
border-radius: 50%;
}
#Welcome{
position:absolute;
height:500px;
color:black;
background-color: red;
bottom:0;
top: 0;
left: 0;
right: 0;
width: 100%;
z-index: 9;
}
#bio{
padding: 50px;
text-align: center;
}
.line{
height: 6px;
background-color: blue;
width: 70px;
margin: 8px auto;
}
